<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouyu.tech.team_oil.user_oil.mapper.UserMapper">
    <insert id="addPlanUser" parameterType="java.util.HashMap">
        INSERT INTO user(id,username,password) VALUES
        <foreach collection="array" item="item" separator=",">
            (null,#{username},#{item})
        </foreach>
    </insert>
</mapper>